@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Official Doom 64 Theme - Light Mode */
    --background: 215.4 16.3% 85.3%;
    --foreground: 222.2 84% 4.9%;
    --card: 220 14.3% 75.9%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 220 14.3% 75.9%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 22.76 67.08% 50.78%;
    --primary-foreground: 0 0% 100%;
    --secondary: 130.77 34.48% 49.41%;
    --secondary-foreground: 0 0% 100%;
    --muted: 220 14.3% 78.6%;
    --muted-foreground: 220 8.9% 40.5%;
    --accent: 244.44 50% 70.59%;
    --accent-foreground: 0 0% 100%;
    --destructive: 46.84 70.97% 70.39%;
    --destructive-foreground: 0 0% 0%;
    --border: 220 13% 43.1%;
    --input: 220 13% 43.1%;
    --ring: 22.76 67.08% 50.78%;
    --chart-1: 22.76 67.08% 50.78%;
    --chart-2: 130.77 34.48% 49.41%;
    --chart-3: 244.44 50% 70.59%;
    --chart-4: 46.84 70.97% 70.39%;
    --chart-5: 40.71 17.87% 56.27%;
    --radius: 0px;
    --sidebar-background: 220 14.3% 75.9%;
    --sidebar-foreground: 222.2 84% 4.9%;
    --sidebar-primary: 22.76 67.08% 50.78%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 244.44 50% 70.59%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 220 13% 43.1%;
    --sidebar-ring: 22.76 67.08% 50.78%;
  }

  .dark {
    /* Official Doom 64 Theme - Dark Mode */
    --background: 224 71.4% 21.6%;
    --foreground: 210 20% 90.4%;
    --card: 224 71.4% 28.5%;
    --card-foreground: 210 20% 90.4%;
    --popover: 224 71.4% 28.5%;
    --popover-foreground: 210 20% 90.4%;
    --primary: 22.42 75.25% 60.59%;
    --primary-foreground: 0 0% 100%;
    --secondary: 131.52 46.27% 64.12%;
    --secondary-foreground: 0 0% 0%;
    --muted: 215 27.9% 26.4%;
    --muted-foreground: 217.9 10.6% 70.6%;
    --accent: 245.28 57.14% 74.71%;
    --accent-foreground: 0 0% 0%;
    --destructive: 68.4 62.26% 78.24%;
    --destructive-foreground: 0 0% 0%;
    --border: 215 27.9% 40.9%;
    --input: 215 27.9% 40.9%;
    --ring: 22.42 75.25% 60.59%;
    --chart-1: 22.42 75.25% 60.59%;
    --chart-2: 131.52 46.27% 64.12%;
    --chart-3: 245.28 57.14% 74.71%;
    --chart-4: 68.4 62.26% 78.24%;
    --chart-5: 40.71 13.38% 64.71%;
    --radius: 0px;
    --sidebar-background: 224 71.4% 19.1%;
    --sidebar-foreground: 210 20% 90.4%;
    --sidebar-primary: 22.42 75.25% 60.59%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 245.28 57.14% 74.71%;
    --sidebar-accent-foreground: 0 0% 0%;
    --sidebar-border: 215 27.9% 40.9%;
    --sidebar-ring: 22.42 75.25% 60.59%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: "Oxanium", sans-serif;
    letter-spacing: 0em;
  }
}